@import "tailwindcss";

:root {
  --background: #040404;
  --foreground: #ececec;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0ececec;
    --foreground: #040404;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

.nav-bar {
  height: 3rem;
  width: 100%;
  align-items: center;
}

@media (max-width: 560px) {
  .nav-bar {
     height: auto;
    }
}



.glass-effect {
  background: rgba(4, 4, 4, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  box-shadow:
    inset 0 0 15px rgba(255, 0, 150, 0.2),
    inset 0 0 25px rgba(0, 200, 255, 0.15);  border-radius: 2em;
  
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
